:root {
  /*EventPulse Color Palette*/
  --ep-primary: #00adb5;
  --ep-secondary: #393e46;
  --ep-accent: #eeeeee;
  --ep-text-primary: #222831;
  --ep-text-secondary: #6c757d;
  --ep-text-on-primary: #ffffff;
  --ep-text-on-secondary: #eeeeee;
  --ep-text-placeholder: #ccc;
  --ep-background-light: #ffffff;
  --ep-background-dark: #f7f7f7;
  --ep-success: #5cb85c;
  --ep-warning: #f0ad4e;
  --ep-error: #d9534f;
  --ep-disabled: #ced4da;
  --ep-border: #dee2e6;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--ep-text-primary);
  background-color: var(--ep-background-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--ep-background-light);
  color: var(--ep-text-primary);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 70px;
}

button {
  border: none;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--ep-text-on-primary);
  background-color: var(--ep-primary);
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover {
  background-color: #007980;
}

button:disabled {
  background-color: var(--ep-disabled);
  cursor: not-allowed;
}

fieldset {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid var(--ep-border);
  background-color: var(--ep-background-light);
  border-radius: 8px;
}

legend {
  color: var(--ep-primary);
}

fieldset>div {
  margin-bottom: 1rem;
}

label {
  display: block;
  color: var(--ep-text-primary);
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="datetime-local"],
textarea {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid var(--ep-border);
  color: var(--ep-text-primary);
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 1em;
}

textarea {
  resize: vertical;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="datetime-local"]:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px color-mix(in srgb, var(--ep-primary), transparent);
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
