<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome to EventPulse!</title>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <div class="body-wrapper">
        <div class="header">
            <h1>Welcome to EventPulse!</h1>
        </div>
        <div class="content">
            <p>Hi {{firstName}},</p>
            <p>Thanks for signing up to EventPulse! We're excited to have you join our community...</p>
            <p>You're all set. You can start exploring events now!</p>
        </div>
        <div class="button-container">
            <a href="{{discoverPageUrl}}" target="_blank" class="button">Discover Events</a>
        </div>
        <div class="footer">
            <p style="margin: 0 0 5px 0;">&copy; {{currentYear}} EventPulse</p>
            <p style="margin: 0;"><a href="{{websiteUrl}}" target="_blank"
                    style="color: #00adb5; text-decoration: none;">EventPulse.com</a></p>
        </div>
    </div>
</body>

</html>